@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;800&display=swap');

:root {
    --primary-color: #23a6f0;
    --secondary-color-1: #40bb15;
    --secondary-color-2: #3c403d;
    --background-gradient-1: linear-gradient(90deg, #004788, #d71489);
    --dark-blue: #252b42; /*dark bg & txt*/
    --light-gray: #737373;
    --light-gray-1: #fafafa;
    --light-gray-2: #ececec;
    --white: #ffffff;
    --hover-color: #2a7cc7;
    --disabled-element-color: #8ec2f2;
    --muted-color: #bdbdbd;
    --success-color: #2dc071;
    --alert-color: #e77c40;
    --danger-color: #e74040;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
    font-family: sans-serif;
    /* border: 1px solid red; */
}

body {
    background: var(--light-gray-2);
}

section[data-size='large'] {
    min-height: 100vh;
}

section[data-size='medium'] {
    min-height: 75vh;
}

section[data-size='small'] {
    min-height: 35vh;
}

.container {
    width: 65%;
    margin: 0 auto;
}

.header {
    background: url(./images/hero-cover.png) center center/cover no-repeat fixed;
    height: 82.5vh;
    position: relative;
}

.header::before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: rgb(0, 0, 0, 0.5);
}

.header-container {
    position: absolute;
    inset: 0;
    z-index: 1;
}

nav {
    color: var(--light-gray-1);
    padding-block: 2rem;
}

nav,
.nav-right,
.nav-left,
.nav-left ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    max-height: 10vh;
}

.nav-left {
    width: 50%;
}

.brand-name {
    font-size: 2.5rem;
    font-weight: 800;
    cursor: pointer;
    transition: transform 0.4s ease-in-out;
}

.brand-name:hover {
    transform: scale(1.1);
}

.nav-left ul {
    list-style-type: none;
}

h1 {
    font-size: 4rem;
}

a {
    text-decoration: none;
    color: inherit;
}

nav li a {
    transition: color 0.4s ease-in-out;
}

nav li a:hover {
    color: var(--primary-color);
}

.nav-toggle {
    display: none;
}

.hero-text {
    display: flex;
    flex-direction: column;
    min-height: 60vh;
    justify-content: center;
    align-items: center;
    color: var(--light-gray-1);
    gap: 2rem;
    text-align: center;
}

.hero-text h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    padding: 1rem;
    border-radius: 0.5rem;
    border: transparent;
    color: var(--light-gray-1);
    font-weight: 800;
    cursor: pointer;
    transition: transform 0.4s ease-in-out;
}

button:hover,
a:hover {
    transform: scale(1.1);
}

.btn-secondary {
    background: transparent;
    border: 1px solid var(--light-gray-1);
}

.cta {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.cta button {
    border-radius: 420vh;
    font-size: 1.25rem;
}

.hero-cards {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.hero-card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding: 2rem;
    background: var(--light-gray-1);
    height: 15rem;
    box-shadow: 0 0.125rem 1rem var(--light-gray);
}

.hero-card img {
    height: 30%;
}

.primary {
    background: var(--primary-color);
}

.features {
    background: var(--white);
    margin: 0 auto;
}

.features-container {
    display: flex;
    justify-content: center;
}

.features-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
    background: var(--white);
    height: 20rem;
    text-align: center;
}

.features-card img {
    width: 25%;
}

.industry {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.industry-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 65vh;
}

.industry-text,
.pricing-text {
    text-align: center;
    max-width: 50%;
    color: var(--light-gray);
    font-weight: 500;
}

.industry-text h2,
.pricing-text h2 {
    margin-block-end: 1rem;
    color: var(--dark-blue);
    font-size: 2.5rem;
}

.industry-cards {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.industry-card {
    height: 25rem;
    padding: 2rem;
    background: var(--light-gray-1);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    font-size: 1rem;
    outline: 1px solid #c4c3c3;
    border-radius: 7px;
}

.profile-img {
    width: 50%;
    /* aspect-ratio: 1/1; */
}

.rating img {
    height: 1.25rem;
}

.logos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: 2rem;
}

.logos img {
    height: 100%;
    width: 10%;
    cursor: pointer;
    transition: transform 0.4s ease-in-out;
}

.logos img:hover {
    transform: scale(1.1);
}

.newsletter-sub {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    background: var(--background-gradient-1);
    color: var(--light-gray-1);
    font-weight: 800;
}

.inputs {
    min-width: 50%;
    border: 1px solid #fff;
    background: #fff;
    border-radius: 0.5rem;
    display: flex;
    justify-content: space-between;
}

.inputs input[type='email'] {
    height: 100%;
    padding-inline: 1rem;
    border-radius: 0.5rem;
    border: transparent;
    flex: 1;
}

.inputs button {
    border-radius: 0 0.5rem 0.5rem 0;
}

.pricing-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 90vh;
}

.pricing-cards {
    display: flex;
    align-items: flex-end;
    height: 65vh;
    justify-content: center;
}

.pricing-card {
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
    background: #fff;
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);
    font-weight: 800;
}

.pricing-card h3 {
    font-size: 2rem;
}

.pricing-card button {
    width: 100%;
}

.pricing-card.active {
    background: var(--dark-blue);
    color: #fff;
    height: 100%;
}

.price {
    font-size: 3rem;
    color: var(--primary-color);
    position: relative;
}

.price::after {
    content: '$ \A Per Month';
    white-space: pre-line;
    position: absolute;
    font-size: 1rem;
    width: 300%;
    line-height: 1.5rem;
}

.pricing-card ul li {
    padding-block: 0.25rem;
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.pricing-card ul li::before {
    content: url(./images/checkmark-green.svg);
}

.pricing-card ul li[data-list-style='unchecked']::before {
    content: url(./images/checkmark-gray.svg);
}

.contact {
    height: 120vh;
}

.contact-container {
    height: 40%;
    display: flex;
    justify-content: space-evenly;
}

.contact article {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
    background: var(--dark-blue);
    height: 75vh;
    color: var(--white);
    padding: 3rem 0;
}

.contact-text {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.contact-text h2 {
    font-weight: 800;
    font-size: 3rem;
}

.contact-text p {
    line-height: 2rem;
    max-width: 90%;
}

.appointment-form {
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 50%;
}

.world-map img,
.form-img img {
    height: 100%;
    width: 100%;
}

.form {
    padding: 3rem;
    background: var(--white);
    color: var(--dark-blue);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 75vh;
}

.form-img {
    background: url(./images/contact.png) center center/cover no-repeat;
}

.form-inputs {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    font-weight: 900;
}

.form-inputs input,
.form-inputs select {
    height: 3rem;
    width: 100%;
    border-radius: 0.25rem;
    border: 1px solid var(--light-gray);
    padding: 0 1rem;
}

.form button {
    width: 100%;
}

.footer {
    display: grid;
    grid-template-rows: 2fr 3fr 1fr;
}

.footer-cta {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-text {
    line-height: 1.75rem;
}

.footer-links-grid {
    background: var(--light-gray-1);
}

.footer-links {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
    height: 100%;
    gap: 6px;
    padding-block: 2rem;
}

.footer-links div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 0.25rem;
}

p[data-icon] {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

p[data-icon='phone']::before {
    content: url(./images/phone-icon.svg);
}

p[data-icon='location']::before {
    content: url(./images/location-icon.svg);
}

p[data-icon='email']::before {
    content: url(./images/email-icon.svg);
}

.copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.social-icons {
    display: flex;
    gap: 1rem;
}

@media screen and (max-width: 40em) {
    html {
        font-size: 10px;
    }

    .header,
    .industry-container {
        max-width: 100vw;
        min-height: 150vh;
    }

    .pricing-container {
        min-height: 210vh;
    }
    .hero-cards,
    .features-container,
    .industry-cards,
    .pricing-cards,
    .contact-container {
        flex-wrap: wrap;
    }

    .form-img {
        background: url(./images/contact-landscape.png);
    }

    .pricing-cards {
        height: 180vh;
    }

    .pricing-card,
    .pricing-card.active {
        height: 32%;
        width: 100%;
    }

    .logos,
    .newsletter-sub,
    .cta,
    .footer-cta,
    .copyright,
    .inputs {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .contact {
        height: 135vh;
    }

    .contact article {
        height: 85vh;
    }

    .footer-cta {
        padding-block: 2rem;
    }

    .footer {
        grid-template-rows: 1fr 5fr 1fr;
    }

    .copyright {
        justify-content: space-around;
    }

    .footer-text {
        font-size: large;
        text-align: center;
        line-height: 2.5rem;
    }

    .footer-text p {
        padding-block: 1.5rem;
    }

    .footer-links h5,
    .copyright {
        font-size: 1.5rem;
    }

    .copyright {
        text-align: center;
    }

    .footer-links p {
        padding-block: 0.5rem;
        font-size: 1.25rem;
    }

    .logos,
    .newsletter-sub * {
        width: 100%;
        height: 100%;
    }

    .logos img {
        width: 80%;
        height: 100%;
        margin-block: 2rem;
    }

    .newsletter-sub h3 {
        font-size: 2rem;
        text-align: center;
    }

    .inputs {
        background: transparent;
        border: none;
    }

    .inputs input[type='email'] {
        height: 10rem;
        width: 100%;
        padding: 1rem;
        margin-block: 1rem;
    }

    .inputs button {
        border-radius: 0.5rem;
    }
    .hero-card {
        align-items: center;
    }
}

@media screen and (max-width: 900px) {
    .nav-toggle {
        display: inline-block;
    }
    .mobile-nav {
        display: none;
    }
    .container {
        width: 85%;
    }
    .pricing-cards {
        height: 180vh;
    }
    .pricing-container {
        min-height: 210vh;
    }
    .pricing-card,
    .pricing-card.active {
        height: 32%;
        width: 100%;
    }
    .contact-container,
    .pricing-cards {
        flex-wrap: wrap;
    }

    .contact-text {
        width: 100%;
        text-align: center;
        gap: 2rem;
        padding-bottom: 2rem;
    }

    .contact {
        height: 155vh;
    }

    .contact article {
        height: 100vh;
    }

    .appointment-form {
        width: 100%;
        margin-top: 30%;
        grid-template-columns: auto;
    }
    .form h3 {
        font-size: 3rem;
    }
}
